services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./portainer-data:/data
      - /opt/docker_apps/portainer_password.txt:/tmp/portainer_password.txt
    ports:
      - "9443:9443"
      - "8000:8000"
    command: '--admin-password-file /tmp/portainer_password.txt'

  code-server:
    build:
      context: .
      args:
        - DOCKER_GID=988 
    
    container_name: code-server
    restart: unless-stopped
    environment:
      - "PUID=1000"
      - "PGID=1000"
      - "TZ=America/Sao_Paulo"
      - "PASSWORD={{ code_server_password }}"
      - "SUDO_PASSWORD={{ code_server_sudo_password }}"
    volumes:
      - ./code-server-config:/config
      - ~/projetos:/home/coder/project
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8443:8443"

  netdata:
    image: netdata/netdata:latest
    container_name: netdata
    hostname: home-server
    ports:
      - 19999:19999
    restart: unless-stopped
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

volumes:
    portainer-data:
    code-server-config: