---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: "{{ traefik_release_name }}"
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
    providers:
      file:
        enabled: true
        watch: true
        content: |
          http:
            routers:
              cockpit:
                rule: "Host(`cockpit.{{ base_domain }}`)"
                entryPoints:
                  - websecure
                service: cockpit
                tls: {}
            services:
              cockpit:
                loadBalancer:
                  passHostHeader: true
                  serversTransport: cockpit-transport
                  servers:
                    - url: "https://{{ server_lan_ip }}:{{ cockpit_port }}"
                  healthCheck:
                    path: /
                    interval: 10s
                    timeout: 3s
            serversTransports:
              cockpit-transport:
                insecureSkipVerify: true
          tls:
            stores:
              default:
                defaultCertificate:
                  certFile: {{ traefik_tls_mount_path }}/tls.crt
                  keyFile: {{ traefik_tls_mount_path }}/tls.key
    volumes:
      - name: "{{ traefik_tls_secret_name }}"
        mountPath: {{ traefik_tls_mount_path }}
        type: secret
