[WebService]
Origins = https://cockpit.{{ base_domain }} wss://cockpit.{{ base_domain }} https://{{ server_lan_ip }}:{{ cockpit_port }} wss://{{ server_lan_ip }}:{{ cockpit_port }}
ProtocolHeader = X-Forwarded-Proto
ForwardedForHeader = X-Forwarded-For
