JENKINS_IMAGE={{ compose_jenkins_image_name }}:{{ compose_jenkins_build_tag }}
JENKINS_PORT={{ compose_jenkins_port }}
JENKINS_UID={{ compose_jenkins_uid }}
JENKINS_GID={{ compose_jenkins_gid }}
JENKINS_URL={{ compose_jenkins_url }}
JENKINS_ADMIN_USER=admin
JENKINS_ADMIN_PASSWORD={{ jenkins_admin_password }}
