JENKINS_IMAGE={{ compose_jenkins_image_name }}:{{ compose_jenkins_build_tag }}
JENKINS_PORT={{ compose_jenkins_port }}
JENKINS_UID={{ compose_jenkins_uid }}
JENKINS_GID={{ compose_jenkins_gid }}
JENKINS_URL={{ compose_jenkins_url }}
JENKINS_ADMIN_USER=admin
JENKINS_ADMIN_PASSWORD={{ jenkins_admin_password }}
JENKINS_LABMONITOR_USER={{ jenkins_labmonitor_user }}
JENKINS_LABMONITOR_PASSWORD={{ jenkins_labmonitor_password }}
JENKINS_LABMONITOR_API_TOKEN={{ jenkins_labmonitor_api_token }}
JENKINS_PROMETHEUS_USER={{ jenkins_prometheus_user }}
JENKINS_PROMETHEUS_PASSWORD={{ jenkins_prometheus_password }}
JENKINS_PROMETHEUS_API_TOKEN={{ jenkins_prometheus_api_token }}
LABMONITOR_ENABLED=true
LABMONITOR_ID={{ compose_jenkins_labmonitor_id }}
LABMONITOR_NAME={{ compose_jenkins_labmonitor_name }}
LABMONITOR_CATEGORY={{ compose_jenkins_labmonitor_category }}
LABMONITOR_ICON={{ compose_jenkins_labmonitor_icon }}
LABMONITOR_OPEN_URL=https://jenkins.{{ base_domain }}
