JENKINS_IMAGE={{ compose_jenkins_image_name }}:{{ compose_jenkins_build_tag }}
JENKINS_PORT={{ compose_jenkins_port }}
JENKINS_UID={{ compose_jenkins_uid }}
JENKINS_GID={{ compose_jenkins_gid }}
JENKINS_URL={{ compose_jenkins_url }}
JENKINS_ADMIN_USER=admin
JENKINS_ADMIN_PASSWORD={{ jenkins_admin_password | dotenv_literal }}
JENKINS_LABMONITOR_USER={{ jenkins_labmonitor_user }}
JENKINS_LABMONITOR_PASSWORD={{ jenkins_labmonitor_password | dotenv_literal }}
JENKINS_LABMONITOR_API_TOKEN={{ jenkins_labmonitor_api_token | dotenv_literal }}
JENKINS_PROMETHEUS_USER={{ jenkins_prometheus_user }}
JENKINS_PROMETHEUS_PASSWORD={{ jenkins_prometheus_password | dotenv_literal }}
JENKINS_PROMETHEUS_API_TOKEN={{ jenkins_prometheus_api_token | dotenv_literal }}
LABMONITOR_ENABLED=true
LABMONITOR_ID={{ compose_jenkins_labmonitor_id }}
LABMONITOR_NAME={{ compose_jenkins_labmonitor_name }}
LABMONITOR_CATEGORY={{ compose_jenkins_labmonitor_category }}
LABMONITOR_ICON={{ compose_jenkins_labmonitor_icon }}
LABMONITOR_OPEN_URL=https://jenkins.{{ base_domain }}
JENKINS_BLUEFIN_ENABLED={{ 'true' if jenkins_bluefin_enabled | default(false) else 'false' }}
{% if jenkins_bluefin_enabled | default(false) %}
JENKINS_GH_TOKEN={{ jenkins_github_token | dotenv_literal }}
JENKINS_GHCR_USERNAME={{ jenkins_ghcr_username | dotenv_literal }}
JENKINS_GHCR_TOKEN={{ jenkins_ghcr_token | dotenv_literal }}
JENKINS_N8N_WEBHOOK_URL={{ jenkins_n8n_webhook_url | dotenv_literal }}
JENKINS_N8N_WEBHOOK_TOKEN={{ jenkins_n8n_webhook_token | dotenv_literal }}
{% endif %}
