METABASE_IMAGE={{ compose_metabase_image }}
METABASE_PORT={{ compose_metabase_port }}
METABASE_UID={{ compose_metabase_uid }}
METABASE_GID={{ compose_metabase_gid }}
METABASE_DB_NAME={{ compose_postgres_db_metabase }}
METABASE_DB_USER={{ compose_postgres_user_metabase }}
METABASE_DB_PASSWORD={{ postgres_metabase_password }}
TZ={{ base_timezone }}
AUTOMATION_DB_HOST=postgres
AUTOMATION_DB_PORT=5432
AUTOMATION_DB_NAME={{ compose_postgres_db_automation }}
AUTOMATION_DB_USER={{ compose_postgres_user_automation_reader }}
AUTOMATION_DB_PASSWORD={{ postgres_automation_reader_password }}
