N8N_IMAGE={{ compose_n8n_image }}
N8N_PORT_HOST={{ compose_n8n_port }}
N8N_UID={{ compose_n8n_uid }}
N8N_GID={{ compose_n8n_gid }}
BASE_DOMAIN={{ base_domain }}
N8N_EDITOR_BASE_URL={{ compose_n8n_editor_base_url }}
WEBHOOK_URL={{ compose_n8n_webhook_url }}
N8N_DB_NAME={{ compose_postgres_db_n8n }}
N8N_DB_USER={{ compose_postgres_user_n8n }}
N8N_DB_PASSWORD={{ postgres_n8n_password }}
N8N_ENCRYPTION_KEY={{ n8n_encryption_key }}
TZ={{ base_timezone }}
