POSTGRES_IMAGE={{ compose_postgres_image }}
POSTGRES_SUPERUSER_USER=postgres
POSTGRES_SUPERUSER_PASSWORD={{ postgres_superuser_password }}
POSTGRES_SUPERUSER_DB=postgres
POSTGRES_PORT={{ compose_postgres_port }}
POSTGRES_N8N_DB={{ compose_postgres_db_n8n }}
POSTGRES_N8N_USER={{ compose_postgres_user_n8n }}
POSTGRES_N8N_PASSWORD={{ postgres_n8n_password }}
POSTGRES_METABASE_DB={{ compose_postgres_db_metabase }}
POSTGRES_METABASE_USER={{ compose_postgres_user_metabase }}
POSTGRES_METABASE_PASSWORD={{ postgres_metabase_password }}
