192.0.2.11 cockpit.home.arpa
192.0.2.11 grafana.home.arpa
192.0.2.11 jenkins.home.arpa
192.0.2.11 metabase.home.arpa
192.0.2.11 n8n.home.arpa
192.0.2.11 portainer.home.arpa
192.0.2.11 prometheus.home.arpa
